header {
    background-color: #6eeb83;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hamburgerBtn{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img{
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    text-align: center;
    font-size: 1.5rem;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li a:hover{
    background-color: #e8aa14;
}

.logo {
    justify-content: right;
}

.logo img {
    max-width: 100px;
    max-height: auto;
    padding-top: .4rem;
    padding-right: .4rem;
}

/** Hamburger Button **/
nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


/** Main Section **/
.imgbanner {
    display: flex;
    justify-content: space-around;
}

.imgbanner img {
    max-width: 125px;
    max-height: auto;
    border-radius: 20px;
}

.mainimg{
    display: none;
}

#drinks{
    border: 1px solid rgba(0,0,0,.5);
    margin: 2rem;
    padding: .5rem;
    text-align: center;
    background-color: #e4ff1a;
    border-radius: 1rem;
    height: 10rem;
}

#dsfar{
    font-size: 4rem;
}

.weatherapp{
    text-align: center;
    border: 1px solid rgba(0,0,0,.5);
    margin: 2rem;
    border-radius: 1rem;
    background-color: #e4ff1a;
}

.daycontainer{
    display: flex;
    justify-content: space-around;
}

.dayhead {
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.callBtn {
    text-align: center;
    margin-top: 2rem;
}

.callBtn button {
    height: 3rem;
    width: 50%;
    border-radius: 1rem;
    background-color: #e8aa14;
    font-size: 1.2rem;
}

.coastInfo{
    text-align: center;
    margin: 2rem;
    border: 1px solid rgba(0,0,0,.5);
    padding: 1rem;
    border-radius: 1rem;
    background-color: #e4ff1a;
}

.coastInfo img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}



footer {
    background-color: #6eeb83;

}

.footerFlex {
    display: flex;
    justify-content: space-between;
}

.footLogo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.businessInfo{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.businessInfo p{
    margin: 0;
    padding-left: .5rem;
    padding-top: .5rem;
}


/* Form Section */
form fieldset {
    background-color: #e4ff1a;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}

form fieldset legend {
    background-color: #e8aa14;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 1rem;
    padding: 1rem;
}
form fieldset label {
    display: block;
    margin-top: 1rem;
}

form fieldset label input {
    display: block;
    width: 98%;
    height: 2rem;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 1rem;
}

form fieldset label select {
    display: block;
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

form fieldset textarea {
    display: block;
    border-radius: 1rem;
    width: 98%;
    height: 4rem;
}

form label input:required {
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}

.specialtext {
    margin-right: 2rem;
}

.submitDiv {
    text-align: center;
    margin: 1rem;
}

.submitB {
    background-color: #e8aa14;
    height: 3rem;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 1rem;
}

#drinkOrder {
    margin: 1rem;
    background-color: #e4ff1a;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 1rem;
    text-align: center;
}

.freshpage ul {
    list-style-type: none;
    padding: 0;
}


/* about us page */
.aboutpage {
    margin: 1rem;
}
.aboutpage h2{
    text-align: center;
}

.aboutus {
    background-color: #e4ff1a;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
}

.aboutus h3{
    margin-top: 0;
    text-align: center;
}

/* .iframdiv {
    position: relative;
    overflow: hidden;
    width: 100%;
} */

.frame {
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
