@media only screen and (min-width: 67rem) {

#hamburgerBtn {
    display: none;
}

.ultiflexcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* nav {
    margin: 0 auto;
} */
#primaryNav{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: space-around;
    align-items: end;
}

.imgbanner{
    display: none;
}

nav ul li a {
    border-top: none;
}


.mainimg {
    grid-row: 1/2;
}

.weatherapp {
    grid-row: 2/4;
}

#drinks {
    grid-row: 2/3;
}

.callBtn {
    grid-row: 3/4;
}


/* form css */
.submitB {
    width: 40%;
    margin: 2rem;
}

form fieldset label input {
    display: block;
    width: 40%;
    height: 2rem;
}

#drinkOrder {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2rem;
}



}
